### Identifying risk factors for modern slavery

- Looks at most common causes, locations and industries of slavery and if a company is at risk of engaging in these behaviours

### Notes

Useful: https://www.globalslaveryindex.org/resources/downloads/

https://thecnnfreedomproject.blogs.cnn.com/2011/03/07/cost-of-slaves-falls-to-historic-low/ (2011)
- ~$90 to own a slave
- Half of all slaves are in Asia
- Industries
    - Prostitution
    - Sweatshop manufacturing
    - Coffee / Tea trades
    - Food processing
    - Health care

In [93]:
import pandas as pd
import re
import sys
from pathlib import Path as pathl

In [108]:
#append relevant file paths
new_path = pathl('.')
parent = new_path.resolve().parent
sys.path.append(str(parent))
data_path = parent / 'Data'

In [135]:
df = pd.read_csv(str(data_path)+'/prevalence_data.csv', error_bad_lines=False, header=None, sep=' ',
                names=['country', 'prevalence', 'num_absolute', 'population'])

In [129]:
df.drop(columns=0, axis=1, inplace=True)

In [137]:
df

                      country prevalence num_absolute   population
1                 North_Korea      104.6    2,640,000   25,244,000
2                     Eritrea       93.0      451,000    4,847,000
3                     Burundi       40.0      408,000   10,199,000
4    Central_African_Republic       22.3      101,000    4,546,000
5                 Afghanistan       22.2      749,000   33,736,000
..                        ...        ...          ...          ...
163                 Australia        0.6       15,000   23,800,000
164               New_Zealand        0.6        3,000    4,615,000
165                    Taiwan        0.5       12,000   23,486,000
166                    Canada        0.5       17,000   35,950,000
167                     Japan        0.3       37,000  127,975,000

[167 rows x 4 columns]